$nav-column-view: 944px;
$services-column-view: 648px;

html{
	scroll-behavior: smooth;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

p{
	font-size: 1.2em;
	line-height: 1.5em;
}

h1{
	color: #332A86;
}

.container{
	max-width: 960px;
}

nav{
	position: fixed;
}

.display-menu{
	display: flex;
}

.nav-content{
	position: relative;
	top: -82px;
	display: flex;
	justify-content: space-between;
	color: #332A86;


	#menu, #hover-links{
		display: none;
	}

	#hover-links{
		position: absolute;
		left: 8px;
		top: 30px;

		.hover-link{
			background-color: rgba(84, 163, 216, 0.486);
			// box-shadow: rgba(84, 163, 216, 0.486);
			padding: 6px;
			margin-top: 4px;
			margin-bottom: 4px;
			margin: 4px;
			text-decoration: none;

			&:hover{
				box-shadow: 0px 0px 4px rgba(84, 163, 216, 0.486);
			}
		}
	}

	.nav-links{
		display: flex;
	
		.nav-link{
			padding-left: 16px;
			border-right: 1px solid grey;
			font-size: 0.9em;
			text-decoration: none;
		}
	
		.nav-link:last-child{
			border-right: none;
		}
	}

	span, .nav-link{
		padding-right: 16px;
	}

	@media screen and (max-width: $nav-column-view){

		justify-content: space-between;
		.nav-link{
			display: none;
		}

		span{
			opacity: 0;
		}

		#menu{
			display: inline;
		}

		#hover-links{
			// display: flex;
			flex-direction: column;
		}
		
	}
}


#services{

	margin-top: 80px;
	margin-bottom: 80px;

	.row{
		display: flex;
		margin-bottom: 32px;
		align-items: center;

		img{
			width: 100%;
			border-radius: 16px;
			padding: 8px;
		}

		.content{
			padding-left: 40px;
			padding-right: 40px;
		}

	}
	@media screen and (max-width: $services-column-view){
		.row{
			flex-direction: column;
		}

		.row:nth-child(2){
			flex-direction: column-reverse;
		}
	}

}
#our-work{
	margin-top: 32px;

	#clients-projects{
		display: flex;
		justify-content: space-evenly;
	}

	.content{
		padding: 0;
	}

	#testimonials{
		margin-top: 32px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		font-size: 1.2em;
		line-height: 1.2em;

		.card{
			padding: 16px;
			width: 45%;
			box-sizing: border-box;
			margin: 8px;
			background-color: rgba(84, 163, 216, 0.486);

			@media screen and (max-width: $services-column-view){
				width: 100%;
			}
		}
		.card:first-child, .card:last-child{
			background-color: lightgrey;
		}

		@media screen and (max-width: $services-column-view){
			.card:nth-child(2n-1){
				background-color: rgba(84, 163, 216, 0.486);
			}

			.card:nth-child(2n){
				background-color: lightgrey;
			}
		}
	}

}

#contact{
	margin-top: 80px;
	width: 100%;
	background-color: rgba(84, 97, 216, 0.886);
	color: aliceblue;

	padding-top: 40px;
	padding-bottom: 40px;

	h1{
		color: aliceblue;
	}

	#contacts{
		div{
			margin-bottom: 8px;
			font-size: 1.1em;

			i{
				margin-right: 8px;
			}
		}
	}
}

// HAMBURGER ICON


#nav-icon3{
	width: 16px;
	height: 6px;
	position: relative;
	margin: 0px auto;
	margin-left: 20px;
	top: -5px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
  }
  

  #nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
	display: block;
	position: absolute;
	height: 6px;
	width: 100%;
	background: #332A86;
	border-radius: 6px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
  }




  #nav-icon3 span:nth-child(1) {
	top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
	top: 10px;
  }
  
  #nav-icon3 span:nth-child(4) {
	top: 20px;
  }
  
  #nav-icon3.open span:nth-child(1) {
	top: 10px;
	width: 0%;
	left: 50%;
	opacity: 0;
  }
  
  #nav-icon3.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
	top: 10px;
	width: 0%;
	left: 50%;
	opacity: 0;
  }